.zenux-grid {
    width: 100%;
    background-color: white;
    font-size: 14px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    @import "grid";
    @import "control";

    table {
        @import "table";
    }
}
