.zenux-grid {
    background-color: white;
    line-height: 1.4rem;

    div.table {
        width: 90%;
        max-width: 90%;
        margin: auto;
        overflow-x: auto;
    }

    table {
        //width: 6000px;
        overflow-x: auto;
    }

    table td {
        padding: 8px;
        white-space: nowrap;
    }

    td.select::before {
        content: "✓";
        color: white;
    }

    tr.selected {
        background-color: rgba(12, 12, 12, 0.14);

        td.select::before {
            color: green;
        }
    }

    tr:hover {
        background-color: rgba(12, 12, 12, 0.22);
    }

    td.select {
        text-align: center;
    }

    td.error {
        background-color: yellow;
        font-family: monospace;
        font-weight: bold;
        color: red;
    }

    .page-control {
        margin: 10px auto;
        text-align: center;
    }

    .page-control button {
        border: none;
        cursor: pointer;
        padding: 4px 8px;
    }

    form {
        display: inline-block;
        font-size: 1.6rem;
        margin: 10px auto;
        text-align: center;
    }

    span.code, span.num {
        font-family: monospace;
    }

    span.status {
        font-weight: bold;
    }

    span.status.success {
        color: green;
    }

    span.status.failure {
        color: red;
    }
}


.zenux-grid table {
    border-collapse: collapse;
    margin: auto;
}

.zenux-grid table td {
    border: 1px solid #aaa;
}

.zenux-grid {
    width: 100%;
}
